$dark-light: #292929;
$dark: #212121;
$dark-hover: #383838;
$gray: #999999;
$gray-dark: #6e6e6e;
$title: #e4e4e4;
$blue: #9cd6eb;
$green: #cdeb9c;
$blueGreen: #45a1a1;
$subtitle: #cdcdcd;


